*
{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body
{
	
	
	padding: 15px;
	font-family: sans-serif;
}
.menu-bar
{
	background: #636DDE;
	text-align: right;
}

.menu-bar ul
{
	display:inline-flex;
	list-style:none;
	color:#fff;

}
.menu-bar ul li
{
	width:120px;
	margin:5px; /* control height*/
	padding:10px;
}
.menu-bar ul li a
{
	text-decoration:none;
	color:#fff;
}

.active, .menu-bar ul li:hover
{
	background: #2bab0d;
	border-radius:3px;
}
.menu-bar fa.
{
	margin-right:8p;
}
.sub-menu-1 
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display:block;
	position:absolute;
	background:rgb(0,100,0);
	margin-top:15px;
	margin-left:-15px;
}

.sub-menu-2
{
	display:none;
}

.menu-bar ul li:hover .sub-menu-2
{
	display:block;
	position:absolute;
	background:rgb(0,100,0);
	margin-top:15px;
	margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu-2 ul
{
	display:block;
	margin:10px;
}



.footer-container{
    background-color: #212329;
	padding: 4rem 0 0 0; /*T R B L */
	margin-bottom: 0px;
}

.footer{
	width:80%;
	height:40vh;
	background-color: #212329;
	color:#fff;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	margin:0 auto;
	
}

.footer-heading{
	display:flex;
	flex-direction: column;
	margin-right: 6rem;
	
}

.footer-heading h2{
	margin-bottom: 2rem;
	
}

.footer-heading a,h4{
	color: #fff;
	text-decoration: none;
	margin-bottom: 0.5rem;
}

.footer-email-form h2{
	margin-bottom: 2rem;
}

#footer-email{
	width:250px;
	height:40px;
	border-radius:4px;
	outline:none;
	border:none;
	padding-left: 0.5rem;
	font-size: 1rem;
	margin-bottom: 1rem;
}

#footer-email::placeholder{
	color:#b1b1b1;
}

#footer-email-btn{
	width:100px;
	height:40px;
	border-radius: 4px;
	background-color: #f9423D;
	outline:none;
	border:none;
	color:#fff;
	font-size: 1rem;
}

.loginbox 
{
    width :320px;
    height: 420px;
    background:white;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    

}
h1
{
    margin: 5px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p1
{
    font-weight: bold;
    
}
.loginbox input
{
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
}
.loginbox input[type="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    outline: none;
    height: 5px;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    width:250px;
    background:rgb(50, 50, 205);
    font-size: 20px;
    border-radius: 20px;
    font-weight: bolder;
    
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background-color: white;
}
.loginbox a{
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}
.loginbox a:hover
{
    text-decoration: underline;
}


.ambulance_login_form h2
{
	text-align: center;
	
}
.request_form
{
	font-size: 13px;
	font-family: sans-serif;
	font-weight: 500;
	margin: 30px;
	padding: 40px;
	box-sizing: border-box;
	border-color: black;
	background-color:#c8f1f8;
	
}
.request_form input[type="radio"] 
{
    cursor: pointer;
    font-size: 14px;
}

.width input[type="text"]
{
    height: 90px;
	width: 500px;
	margin-bottom: 10px;
}

.request_form input[type="datetime-local"]
{
	cursor: pointer;
}
.submit
{
    text-align: center;
    
}
.submit input[type="submit"]
{
    height: 50px;
    width: 200px;
    border-radius: 25px;
	cursor: pointer;
	background-color:#259e11;
	font-weight: bolder;
	font-size: 22px;
	border: none;
	color: #fff;

}

